<nav class="navbar">
  <a routerLink="/">RH Connect</a>
  <div class="navItens">
    <!-- Usuário ADM vê link para Currículos -->
    <a *ngIf="authService.estaAutenticado() && authService.getUsuarioAtual()?.tipo === 'admin'" 
       routerLink="/curriculos" class="navLink">
       Currículos
    </a>

    <!-- Todos os usuários logados podem ver Vagas -->
    <a *ngIf="authService.estaAutenticado()" routerLink="/vagas" class="navLink">
      Vagas
    </a>

    <!-- Login / Logout -->
    <a *ngIf="!authService.estaAutenticado()" routerLink="/login" class="navLink">Login</a>
    <a *ngIf="authService.estaAutenticado()" class="navLink" (click)="logout()">Logout</a>
  </div>
</nav>
