// variáveis
$cor-primaria: #007bff;
$cor-secundaria: #6c757d;
$cor-sucesso: #28a745;
$cor-perigo: #dc3545;

body{
  padding-bottom: 5rem;
}

h2{
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #444;
    font-size: 1rem;
  }

    input,
    textarea,
    select {
      width: 100%; // ocupa todo espaço disponível
      padding: 0.8rem 1rem;
      margin-bottom: 1.5rem;
      border: 1.5px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      color: #333;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      resize: vertical;

    &:focus {
      outline: none;
      border-color: $cor-primaria;
      box-shadow: 0 0 5px rgba($cor-primaria, 0.5);
    }
  }

    .buttons-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 9vh;
    }

  button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin-right: 0.75rem;

    &[type="button"]:nth-of-type(1) {
      // botão cadastrar
      background-color: $cor-sucesso;

      &:hover {
        background-color: darken($cor-sucesso, 10%);
      }
    }

    &[type="button"]:nth-of-type(2) {
      // botão atualizar
      background-color: $cor-primaria;

      &:hover {
        background-color: darken($cor-primaria, 10%);
      }
    }

    &[type="button"]:nth-of-type(3) {
      // botão excluir
      background-color: $cor-perigo;

      &:hover {
        background-color: darken($cor-perigo, 10%);
      }
    }
  }
}

.lista-curriculos {
  padding-bottom: 5rem;
}

.actions-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-listar {
  background-color: $cor-primaria;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: darken($cor-primaria, 10%);
  }
}

.btn-excluir {
  background-color: $cor-perigo;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($cor-perigo, 10%);
  }
}

// opcional: responsividade simples
@media (max-width: 640px) {
  form {
    padding: 1rem;

    input,
    textarea {
      width: 100%;
    }
  }
}
