<div class="container">
  <h1>Bem-Vindo a Nossa Plataforma de Currículos e Vagas</h1>
  <p>Aqui você pode cadastrar seu currículo e procurar por vagas de emprego</p>

  <div class="button-container">
    <!-- Só aparece se estiver logado -->
    <a *ngIf="authService.estaAutenticado()" routerLink="/cadastrar-curriculo" class="buttonLink">
      Cadastrar Currículo
    </a>

    <!-- Se não estiver logado, sugere login -->
    <p *ngIf="!authService.estaAutenticado()">Faça login para acessar currículos e vagas</p>
  </div>
</div>
