$cor-primaria: #002D62;
$cor-fundo: #f4f4f4;
$cor-texto: #ffffff;
 
.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: $cor-fundo;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  text-align: center;
 
  h1 {
    color: $cor-primaria;
    margin-bottom: 1rem;
  }
 
  p {
    color: $cor-primaria;
    margin-bottom: 2rem;
  }
 
  .button-container {
    a.buttonLink {
      display: inline-block;
      padding: 0.8rem 1.5rem;
      background-color: $cor-primaria;
      color: $cor-texto;
      border-radius: 5px;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s ease;
 
      &:hover {
        background-color: darken($cor-primaria, 10%);
      }
    }
  }
}